@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway');
html, body{
    scroll-behavior: smooth;
    font-family: 'Raleway', sans-serif;

}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
}
header{
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
}
header ul li i{
    font-size: 2rem;
    font-weight: 900;
    color: #d44500;
    transition: 0.3s linear;
}

#brand-social ul li i:hover{
    color: #3899ca;
}
.nav-item i{ 
    font-size: 1rem;
    color: rgba(0,0,0,0.5);
}
#menu-contents li a{
    font-weight: 900;
}
#menu-contents li a:hover {
    color:#d44500;
    transition: 0.2s linear;
}
.cover{
    background-image: url('images/cover/home-banner2.jpg');
    height: 60%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    background-position: center 0;
    
}
#home hr{
    height: 1px;
    background-color: white;
}
#welcome-text{
    line-height: 2;
    width: 48%;
    text-align: center;
    color: white;
}
#welcome-text h1{
    font-weight: 700; 
    font-size: 3.5rem;
    letter-spacing: 5px;
}
#welcome-text h4{
    font-size: 1.2rem;
}
#home-buttons button{
    font-size: 1rem;
    text-align: center
}
#facebook-btn{background-color:transparent; border-color:white;}
#facebook-btn:hover{
    background-color: #3899ca;
    color: white;
    border-color: #3899ca;
}
button#sign-up{background-color:#d44500; border-color:transparent;}
#sign-up:hover{
    color: white;
    background-color: #3899ca;
}
#main-video{
    width: 48%;
}

.instafeed-image-square {
    position: relative;
    height: 0;
    padding-top: 100%;
    overflow: hidden;
  }
  
  .instafeed-image-square img {
    object-fit: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }
  
  .instafeed-image-square.with-background {
    background-size: cover;
    background-position: center;
  }
  .image-boxes {
    display: flex;
    flex-direction: row;
  }
  
  .image-boxes  > * {
    background: transparent;
    border: none;
    flex: 1;
    margin: 0rem 1rem;
    position: relative;
  }
  
.image-box > img {
    width: 100%;
  }
  #followInsta button{
   background-color:#3899ca; 
   border: none;
  }
 
#followInsta button:hover{
    background-color: #d44500;
    transition: 0.4s;
}

.image-box a div:hover{
    opacity: 0.6;
    transition: 0.2s;
}
#visualizations div #chart1 div div table tbody tr td a{
    color: grey;
    text-decoration: none;
    font-weight: 700;
}
div.google-visualization-table{
    color: gray;
}
#about-section-card-box{
    border: none;
}
.section-banner{
    height: 250px;/*change photo*/
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    margin-bottom: 2.5%;
}
.section-banner h2{
    padding-top: 6%;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 5px;
}
.nav-link{
    color: grey;
    font-weight: 700;
}
.nav-tabs .nav-link:hover{
    transition: 0.3s;
    color: #3899ca;
}
.nav-tabs .nav-link.active.show{
    color: #3899ca;
}
#aboutTabContent p{
    font-size: 0.9rem;
    color: #848688;
}
#aboutTabContent a{
    color: grey;
    font-weight: 700;
}
#content-coreValues ul li div i{
    color:  #848688;   
}
#content-coreValues ul li div i:hover{
    color: #3899ca;
    transition: 0.4s;
}
#content-coreValues ul li div h5{
    color: grey;
    font-weight: 700;
}
#content-coreValues ul li{
    justify-content: center;
}
#brother-photo img{
    width: 100%;
}
#brother-bio p a i{
    font-size: 1.25rem;
}
#brother-bio p{
    line-height: 2;
}
#brother-bio p a:hover{
    color: #3899ca;
    transition: 0.4s;
}
#accordion .card{
    border:none;
}
#accordion .card .card-header{
    background-color: transparent;
    border-bottom: none;
}
#accordion .card .card-header h5 button{
    color: grey;
    font-weight: 500;
    text-decoration: none;
    font-size: 0.9rem;
}
#accordion .card .card-header h5 button:hover{
    color: #3899ca;
    font-weight: 900;
    transition: 0.2s;
}
footer{
    background-image: url(images/cover/footer-banner.jpg);
    background-size: cover;
    background-position: center 25%;
    color: white;
}

footer p{
    font-size: 0.9rem;
}
footer a{
    text-decoration: none;
    color: white;
}
footer a:hover{
    color: #d44500;
    text-decoration: none;
}
@media screen and (max-width:1024px){
    #brand-logo img{ 
        width: 230px;
        height: 40px;
    }
    #brand-letters img{
        height: 40px;
    }
    header ul li i{font-size: 1.5rem;}
    #welcome-text h1{
        font-size: 3rem;
    }
    .section-banner h2{
        padding-top: 10%;
    }
}
@media screen and (max-width: 990px) {
    #branding{
        justify-content: center;
    }
    #brand-letters{
        display: none;
    }

    #brand-social{
        display: none;
    }
    #menu-contents{
        text-align: center
    }
    #menu-contents li{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .cover{height:85%;}
    .section-banner h2 {
        padding-top: 12%;
    }
    #footer-contents{
        flex-direction: column;
    }
    #footer-contents div{
        padding-top: 2rem;
    }
}

@media screen and (max-width: 768px) {
    #brand-logo img{ 
        width: 230px;
        height: 40px;
    }
    #home-banner-row{
        flex-direction: column;
    }
    #welcome-text{
        width: 100%;
    }
    #welcome-text h1{
    font-size: 3.5rem;
    }
    
    #main-video{
        width: 100%;
    }
    #brother-photo{text-align: center;}
    #brother-photo img{
        width: 75%;
    }
    
}

@media screen and (max-width: 425px) {
    #welcome-text h1{
        font-size: 2rem;
    }
    #main-video{
        position: relative;
        height: 200px;
    }
    #rush-video{
        height: 100%;
        width: 85%;
        position: absolute;
    }
    #instafeed{
        flex-direction: column;
        align-items: center;
    }
    .image-boxes  > * {
        margin: 1rem;
        height: 225px;
        width: 225px;
      }
    .cover{height:70%;}
    #welcome-text h5{font-size:1rem;}
    .section-banner h2{padding-top: 20%;}
    #brother-photo {
       justify-content: center;
    }

}
@media screen and (max-width: 375px){
    .section-banner h2{padding-top: 25%; font-size: 2rem;}
}